{% extends 'layout.html' %}

{% block body %}
    <div class="wrapper" style="background-color: rgba(255,255,255, 0.90); padding: 20px; border-radius: 5px;">

        <h2 style="margin-bottom: 1em;"><img src="https://static.kabum.com.br/conteudo/quem_somos/img/icone-sobre.png" style="margin-right: 20px;">Sobre o Kabum!</h2>
        <p>Fundado em 2003, o KaBuM! foi um dos pioneiros no comércio eletrônico brasileiro e hoje é o maior e-commerce do segmento de tecnologia e games na América Latina. Desde sua criação, a empresa é formada por histórias e conquistas de um time obcecado por agilidade, qualidade de atendimento, velocidade de entrega e respeito pelo consumidor.</p>
    
        <p>Com preços imbatíveis e mais de 20 mil produtos em seu catálogo, o KaBuM! está sempre à frente e traz em primeira mão os melhores lançamentos do mercado mundial.</p>
            
        <p>São mais mais de 6 milhões de pessoas atendidas e entregas realizadas em todas as regiões do país, totalizando mais de 5.000 cidades. Entre as empresas clientes do e-commerce, destacam-se grandes grupos como Microsoft, Banco Bradesco, Banco Itaú, Petrobras, Exxon, Walt Disney, Ford, Rede Globo, Volvo, além de vários órgãos do Governo Brasileiro.</p>
            
        <p>O e-commerce é um dos sites mais acessados do país e lidera o ranking das lojas virtuais mais recomendadas pelos consumidores brasileiros, no segmento de tecnologia*, com os principais índices de avaliação e selos de qualidade da internet, entre eles: Loja Diamante pela Ebit e empresa certificada pelo Great Place To Work (GPTW).</p>
        
        <p>Além do e-commerce, o KaBuM! é um grande incentivador dos esportes eletrônicos, sendo responsável pela criação de uma das maiores equipes de League of Legends do Brasil, a KaBuM! e-Sports, tricampeã nacional e a primeira organização do país a participar de um Campeonato Mundial.</p>
        <p><sub>*Referência: Comparativo CX Report, com 34 grandes lojas virtuais do Brasil, realizado por IBOPE CONECTA e IBOPE DTM.</sub></p>
    
    </div>
{% endblock %}