{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron jumbotron-fluid" style="background-image: url('https://www.kabum.com.br/hotsite/blackfriday/img/ninja-black.png'); background-size: contain; background-repeat: no-repeat; background-position: right; background-color: rgb(255, 178, 107); border-radius: 25px;">
        <div class="container">
            <img src="https://static.kabum.com.br/conteudo/temas/001/imagens/topo/logo_kabum_.png">
            <p class="lead text-white" style="text-shadow: black 2px 2px 2px; margin-left: 1em;">e-commerce powered by ninjas</p>
        </div>
    </div>

{% endblock %}