{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron jumbotron-fluid animate_animated animate__fadeIn" style="display: block; background-image: url('https://www.kabum.com.br/hotsite/blackfriday/img/ninja-black.png'); background-size: contain; background-repeat: no-repeat; background-position: right; background-color: rgba(255, 169, 88, 0.85); border-radius: 25px;">
        <div class="container">
            <img src="https://static.kabum.com.br/conteudo/temas/001/imagens/topo/logo_kabum_.png" class="animate__animated animate__tada">
            <p class="lead text-white animate__animated animate__fadeIn" style="text-shadow: black 1px 1px 1px; margin-left: 1em;">e-commerce powered by ninjas</p>
        </div>
    </div>

{% endblock %}