{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron jumbotron-fluid" style="margin-bottom: 3em; box-shadow: #111 0px 10px 35px 2px; display: block; background-image: url('https://www.kabum.com.br/hotsite/blackfriday/img/ninja-black.png'); background-size: contain; background-repeat: no-repeat; background-position: right; background-color: rgba(255, 169, 88, 0.85); border-radius: 25px;">
        <div class="container">
            <img src="https://static.kabum.com.br/conteudo/temas/001/imagens/topo/logo_kabum_.png" class="animate__animated animate__tada">
            <p class="lead text-white animate__animated animate__fadeIn animate__slower" style="text-shadow: black 1px 1px 1px; margin-left: 1em;">e-commerce powered by ninjas</p>
        </div>
    </div>

    <div class="embed-responsive embed-responsive-16by9" style="border-radius: 20px;">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Oi0bIFzxUGM" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

{% endblock %}